body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
    position: relative;
}

h1 { color: #333; }

#quiz {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}

#quiz p { font-weight: bold; }

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.buttons button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
}

.buttons button:hover { background-color: #45a049; }

/* Ism-familya burchakka */
#author {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* 6-sinf ❤️ burchakka */
#heart6 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: red;
}
.answer{
    transition: all 0.2s ease;
}
.answer.selected{
    background:#d2e3fc;
    border-color:#1a73e8;
    transform: scale(1.02);
}
